main.Home {
  width: 100%;
  overflow: hidden;
}
main.Home .Banner-Container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
main.Home .Banner-Container .Banner-Slider {
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
main.Home .Banner-Container .swiper-Banner {
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: center;
}
main.Home .Banner-Container .swiper-Banner .swiper-wrapper {
  width: 100%;
  max-width: 100%;
  height: inherit;
}
main.Home .Banner-Container .swiper-Banner .swiper-wrapper > .swiper-slide {
  width: 100%;
  display: flex;
  height: inherit;
  justify-content: center;
  align-items: center;
  position: relative;
}
main.Home .Banner-Container .swiper-Banner .swiper-wrapper > .swiper-slide-active h1, main.Home .Banner-Container .swiper-Banner .swiper-wrapper > .swiper-slide-active p {
  transition: all 0.8s ease;
  -webkit-transform: translateY(0) !important;
  -moz-transform: translateY(0) !important;
  -ms-transform: translateY(0) !important;
  -o-transform: translateY(0) !important;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transform: translateY(0) !important;
  opacity: 1 !important;
}
main.Home .Banner-Container .swiper-Banner .swiper-wrapper .IMG {
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
main.Home .Banner-Container .swiper-Banner .swiper-wrapper .IMG > img {
  transition: all 0.9s;
  transform: translateX(-100px);
  height: inherit;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
  -webkit-transition: all 0.9s;
  -moz-transition: all 0.9s;
  -ms-transition: all 0.9s;
  -o-transition: all 0.9s;
}
main.Home .Banner-Container .swiper-Banner .swiper-wrapper .OV {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 0.5em;
}
main.Home .Banner-Container .swiper-Banner .swiper-wrapper .OV > .Title {
  width: 96%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: auto;
  overflow: hidden;
}
main.Home .Banner-Container .swiper-Banner .swiper-wrapper .OV > .Title h1 {
  transition: all 0.8s 0.5s ease;
  -webkit-transform: translateY(100px);
  -moz-transform: translateY(100px);
  -ms-transform: translateY(100px);
  -o-transform: translateY(100px);
  -webkit-transition: all 0.8s 0.5s ease;
  -moz-transition: all 0.8s 0.5s ease;
  -ms-transition: all 0.8s 0.5s ease;
  -o-transition: all 0.8s 0.5s ease;
  transform: translateY(100px);
  opacity: 0;
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  line-height: 41.45px;
}
main.Home .Banner-Container .swiper-Banner .swiper-wrapper .OV .Desc {
  margin-right: auto;
  width: 96%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  overflow: hidden;
}
main.Home .Banner-Container .swiper-Banner .swiper-wrapper .OV .Desc p {
  transition: all 0.8s 0.5s ease;
  -webkit-transform: translateY(100px);
  -moz-transform: translateY(100px);
  -ms-transform: translateY(100px);
  -o-transform: translateY(100px);
  -webkit-transition: all 0.8s 0.5s ease;
  -moz-transition: all 0.8s 0.5s ease;
  -ms-transition: all 0.8s 0.5s ease;
  -o-transition: all 0.8s 0.5s ease;
  transform: translateY(100px);
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  line-height: 31.09px;
  opacity: 0;
}
main.Home .Banner-Container .swiper-Banner .ShowMBTN {
  margin-right: 4em;
  margin-left: auto;
  margin-bottom: 5em;
}
main.Home .ProductCategories {
  width: 100%;
  margin-top: 5em;
  display: flex;
  flex-direction: column;
}
main.Home .ProductCategories .Title-1 {
  margin-bottom: 2em;
}
main.Home .ProductCategories .Product-Category,
main.Home .ProductCategories .Product-Slider,
main.Home .ProductCategories .swiper-Category,
main.Home .ProductCategories .swiper-wrapper {
  width: 100%;
  display: flex;
}
main.Home .ProductCategories .Product-Category .swiper-slide,
main.Home .ProductCategories .Product-Slider .swiper-slide,
main.Home .ProductCategories .swiper-Category .swiper-slide,
main.Home .ProductCategories .swiper-wrapper .swiper-slide {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main.Home .Cataloge-Container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
main.Home .Cataloge-Container .CatalogeS {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
main.Home .Cataloge-Container .Right {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main.Home .Cataloge-Container .Right .Icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
main.Home .Cataloge-Container .Left {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
main.Home .Cataloge-Container .Left .Box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main.Home .Cataloge-Container .Left .Box .Text {
  width: 94%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: auto;
  margin-top: 3em;
}
main.Home .Cataloge-Container .Left .Box .Text p {
  font-size: 18px;
  font-weight: 400;
  line-height: 31.09px;
  color: #000000;
}
main.Home .Video-Clr {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  margin: 5em 0;
}
main.Home .Video-Clr.show .Video-OV {
  left: -100vw;
}
main.Home .Video-Clr video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main.Home .Video-Clr .Video-OV {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
main.Home .Video-Clr .Video-OV .Icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Product {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #949494;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.Product > .IMG {
  width: 100%;
  height: 443px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Product > .IMG a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Product > .IMG a > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.Product > .Box {
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8em 0;
}
.Product > .Box .Title {
  width: 95%;
  margin-right: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.Product > .Box .Title a {
  width: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
}
.Product > .Box .Title a span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 31.09px;
  color: #000000;
}/*# sourceMappingURL=f-style.css.map */