$primary: #d30e15;
$gray: #949494;
.productList {
  .section1 {
    img {
      width: 100%;
    }
  }
  .section2 {
    direction: rtl;
    padding: 80px;
    nav {
      margin-bottom: 30px;
      padding-bottom: 14px;
      border-bottom: 1px solid $gray;
      ul {
        display: flex;
        align-items: baseline;
        column-gap: 5px;
        li {
          font-family: IRANYekan;
          font-size: 18px;
          font-weight: 400;
          line-height: 31.09px;
          text-align: right;
          color: $primary;
          a {
            color: $primary;
            text-decoration: none;
          }
        }
        li:last-child {
          display: none;
        }
      }
    }
    .productContainer {
      .proGrid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;
        .proBox {
          width: 100%;
          .imgS {
            overflow: hidden;
            img {
              width: 100%;
              transition: 0.5s ease;
            }
          }
          a {
            text-decoration: none;
          }
          .title {
            display: flex;
            align-items: baseline;
            margin-top: 12px;
            column-gap: 6px;
            p {
              color: black;
              font-family: IRANYekan;
              font-size: 18px;
              font-weight: 400;
              line-height: 31.09px;
              text-align: right;
            }
          }
        }
        .proBox:hover{
            img{
                scale: 1.1;
            }
        }
      }
    }
  }
}
