.productList .section1 img {
  width: 100%;
}
.productList .section2 {
  direction: rtl;
  padding: 80px;
}
.productList .section2 nav {
  margin-bottom: 30px;
  padding-bottom: 14px;
  border-bottom: 1px solid #949494;
}
.productList .section2 nav ul {
  display: flex;
  align-items: baseline;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.productList .section2 nav ul li {
  font-family: IRANYekan;
  font-size: 18px;
  font-weight: 400;
  line-height: 31.09px;
  text-align: right;
  color: #d30e15;
}
.productList .section2 nav ul li a {
  color: #d30e15;
  text-decoration: none;
}
.productList .section2 nav ul li:last-child {
  display: none;
}
.productList .section2 .productContainer .proGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
.productList .section2 .productContainer .proGrid .proBox {
  width: 100%;
}
.productList .section2 .productContainer .proGrid .proBox .imgS {
  overflow: hidden;
}
.productList .section2 .productContainer .proGrid .proBox .imgS img {
  width: 100%;
  transition: 0.5s ease;
}
.productList .section2 .productContainer .proGrid .proBox a {
  text-decoration: none;
}
.productList .section2 .productContainer .proGrid .proBox .title {
  display: flex;
  align-items: baseline;
  margin-top: 12px;
  -moz-column-gap: 6px;
       column-gap: 6px;
}
.productList .section2 .productContainer .proGrid .proBox .title p {
  color: black;
  font-family: IRANYekan;
  font-size: 18px;
  font-weight: 400;
  line-height: 31.09px;
  text-align: right;
}
.productList .section2 .productContainer .proGrid .proBox:hover img {
  scale: 1.1;
}

.contactUs .section1 {
  direction: rtl;
  padding: 182px 80px 120px;
}
.contactUs .section1 .mainTitle {
  padding-bottom: 14px;
  border-bottom: 1px solid #949494;
  margin-bottom: 56px;
}
.contactUs .section1 .mainTitle h1 {
  font-family: IRANYekan;
  font-size: 24px;
  font-weight: 400;
  line-height: 41.45px;
  text-align: right;
}
.contactUs .section1 .info ul li {
  margin-bottom: 24px;
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.contactUs .section1 .info ul li p,
.contactUs .section1 .info ul li a {
  text-decoration: none;
  font-family: IRANYekan;
  font-size: 18px;
  font-weight: 400;
  line-height: 31.09px;
  text-align: right;
  color: #d30e15;
}
.contactUs .section2 {
  display: flex;
  padding: 0 80px 94px;
  -moz-column-gap: 80px;
       column-gap: 80px;
  direction: rtl;
}
.contactUs .section2 .mapSection {
  width: 50.9375vw;
}
.contactUs .section2 .mapSection .map {
  width: 100%;
  height: 85vh;
}

.blog {
  padding: 0 80px;
}
.blog .section1 {
  padding-top: 152px;
}
.blog .section1 .title {
  border: 1px solid black;
  padding: 27px 0 44px;
}
.blog .section1 .title h1 {
  font-family: IRANYekan;
  font-size: 40px;
  font-weight: 700;
  line-height: 69.09px;
  text-align: center;
}
.blog .section1 .searchContainer {
  margin-top: -24px;
}
.blog .section1 .searchContainer form {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  direction: rtl;
  width: 400px;
  border: 1px solid black;
  background-color: white;
  height: 48px;
}
.blog .section1 .searchContainer form button {
  border: none;
  outline: none;
  background-color: transparent;
}
.blog .section1 .searchContainer form input {
  border: none;
  width: 100%;
  height: 85%;
}
.blog .section2 .filters ul {
  display: flex;
  align-items: baseline;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.blog .section2 .filters ul li {
  font-family: Josefin Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: right;
}/*# sourceMappingURL=m-style.css.map */