$primary: #d30e15;
$gray: #949494;
.productList {
  .section1 {
    img {
      width: 100%;
    }
  }
  .section2 {
    direction: rtl;
    padding: 80px;
    nav {
      margin-bottom: 30px;
      padding-bottom: 14px;
      border-bottom: 1px solid $gray;
      ul {
        display: flex;
        align-items: baseline;
        column-gap: 5px;
        li {
          font-family: IRANYekan;
          font-size: 18px;
          font-weight: 400;
          line-height: 31.09px;
          text-align: right;
          color: $primary;
          a {
            color: $primary;
            text-decoration: none;
          }
        }
        li:last-child {
          display: none;
        }
      }
    }
    .productContainer {
      .proGrid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;
        .proBox {
          width: 100%;
          .imgS {
            overflow: hidden;
            img {
              width: 100%;
              transition: 0.5s ease;
            }
          }
          a {
            text-decoration: none;
          }
          .title {
            display: flex;
            align-items: baseline;
            margin-top: 12px;
            column-gap: 6px;
            p {
              color: black;
              font-family: IRANYekan;
              font-size: 18px;
              font-weight: 400;
              line-height: 31.09px;
              text-align: right;
            }
          }
        }
        .proBox:hover {
          img {
            scale: 1.1;
          }
        }
      }
    }
  }
}

.contactUs {
  .section1 {
    direction: rtl;
    padding: 182px 80px 120px;
    .mainTitle {
      padding-bottom: 14px;
      border-bottom: 1px solid $gray;
      margin-bottom: 56px;
      h1 {
        font-family: IRANYekan;
        font-size: 24px;
        font-weight: 400;
        line-height: 41.45px;
        text-align: right;
      }
    }
    .info {
      ul {
        li {
          margin-bottom: 24px;
          display: flex;
          column-gap: 5px;
          p,
          a {
            text-decoration: none;
            font-family: IRANYekan;
            font-size: 18px;
            font-weight: 400;
            line-height: 31.09px;
            text-align: right;
            color: $primary;
          }
        }
      }
    }
  }
  .section2 {
    display: flex;
    padding: 0 80px 94px;
    column-gap: 80px;
    direction: rtl;
    .mapSection {
      width: 50.9375vw;

      .map {
        width: 100%;
        height: 85vh;
      }
    }
  }
}

.blog {
  padding: 0 80px;
  .section1 {
    padding-top: 152px;
    .title {
      border: 1px solid black;
      padding: 27px 0 44px;
      h1 {
        font-family: IRANYekan;
        font-size: 40px;
        font-weight: 700;
        line-height: 69.09px;
        text-align: center;
      }
    }
    .searchContainer {
      margin-top: -24px;
      form {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        direction: rtl;
        width: 400px;
        border: 1px solid black;
        background-color: white;
        height: 48px;
        button {
          border: none;
          outline: none;
          background-color: transparent;
        }
        input {
          border: none;
          width: 100%;
          height: 85%;
        }
      }
    }
  }
  .section2 {
    .filters {
      margin: 40px 0;
      ul {
        display: flex;
        align-items: baseline;
        column-gap: 20px;
        justify-content: center;
        direction: rtl;
        li {
          opacity: 0.5;
          cursor: pointer;
          transition: 0.5s ease;
          span {
            font-family: Josefin Sans;
            font-size: 12px;
            font-weight: 400;
            line-height: 12px;
            color: black;
            text-align: right;
          }
        }
        .activeFilter {
          opacity: 1 !important;
        }
      }
    }
    .lastNews {
      display: flex;
      //   align-items: center;
      direction: rtl;
      column-gap: 80px;
      .imgS {
        overflow: hidden;
        img {
          transition: 0.5s ease;
          width: 100%;
        }
      }
      .imgS:hover {
        img {
          scale: 1.1;
        }
      }
      .lastDet {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        a {
          text-decoration: none;
          font-family: IRANYekan;
          font-size: 18px;
          font-weight: 400;
          line-height: 31.09px;
          text-align: right;
          color: black;
        }
        .catTitle {
          font-family: IRANYekan;
          font-size: 12px;
          font-weight: 300;
          line-height: 18px;
          text-align: right;
          color: #00000080;
        }
        .para {
          max-width: 417px;
          p {
            font-family: IRANYekan;
            font-size: 12px;
            font-weight: 400;
            line-height: 20.73px;
            text-align: right;
          }
        }
        .date {
          p {
            font-family: Josefin Sans;
            font-size: 12px;
            font-weight: 300;
            line-height: 18px;
            text-align: right;
            color: #00000080;
          }
        }
      }
    }
  }
  .section3 {
    margin-top: 50px;
    padding-bottom: 61px;
    .gridBlog {
      direction: rtl;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 40px;
      .blogBox {
        width: 100%;
        .imgS {
          overflow: hidden;
          img {
            width: 100%;
            transition: 0.5s ease;
          }
        }
        .catName {
          span {
            font-family: IRANYekan;
            font-size: 12px;
            font-weight: 300;
            line-height: 18px;
            text-align: right;
            color: #00000080;
          }
        }
        .title {
          margin: 4px 0;
          p,
          a {
            text-decoration: none;
            font-family: IRANYekan;
            font-size: 16px;
            color: black;
            font-weight: 400;
            line-height: 27.64px;
            text-align: right;
          }
        }
        .para {
          p {
            font-family: IRANYekan;
            font-size: 10px;
            font-weight: 300;
            line-height: 17.27px;
            text-align: right;
            color: #272727;
          }
        }
      }
      .blogBox:hover {
        img {
          scale: 1.1;
        }
      }
    }
  }
}
body {
  overflow-x: hidden;
}
.productShow {
  direction: rtl;
  overflow: hidden;
  .section1 {
    padding: 141px 80px 80px;
    .in1 {
      display: flex;
      border-radius: 8px;
      column-gap: 80px;
      box-shadow: 0px 0px 60px 1px rgba(0, 0, 0, 0.25);
      -webkit-box-shadow: 0px 0px 60px 1px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 0px 0px 60px 1px rgba(0, 0, 0, 0.25);
      padding: 40px 80px;
      .rSide {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.25);
        -webkit-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.25);
        border-radius: 8px;

        .imgS {
          img {
            width: 100%;
          }
        }
        .mainSlides {
          margin-bottom: 28px;
          padding: 0 42px;
          overflow: hidden;
          width: 100%;
          width: -moz-available; /* WebKit-based browsers will ignore this. */
          width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
          width: fill-available;
          padding: 40px 151px 0 151px;
        }
        .thumbSlides {
          width: 100%;
          padding: 0 80px 40px 80px;
          width: 100%;
          width: -moz-available; /* WebKit-based browsers will ignore this. */
          width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
          width: fill-available;
        }
        .thumbSlider {
          width: 100%;
          .imgS {
            cursor: pointer;
          }
          img {
            // max-width: 80px;
            width: 100%;
          }
        }
      }
      .lSide {
        width: 50%;
        .share {
          .share__wrapper {
            height: 24px;
            width: 24px;
            // position: absolute;
            cursor: pointer;
          }
          .social-link {
            height: 24px;
            width: 24px;
            position: absolute;
            cursor: pointer;
          }

          .toggle-button {
            // position: absolute;
            cursor: pointer;
            position: relative;
            width: 100%;
            height: 100%;
          }
          .toggle-button:focus {
            outline: 0;
          }
          .toggle-button:before,
          .toggle-button:after {
            content: "";
            position: absolute;
          }
          .toggle-button:after {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('data:image/svg+xml;charset=US-ASCII,<svg width="23" height="25" viewBox="0 0 23 25" xmlns="http://www.w3.org/2000/svg"><g transform="translate(-11 -11) translate(12 12)" stroke="#fff" stroke-width="2" fill="none"><ellipse id="Oval-5" cx="3.652" cy="11.5" rx="3.652" ry="3.538"/><ellipse id="Oval-5" cx="17.348" cy="3.538" rx="3.652" ry="3.538"/><ellipse cx="17.348" cy="19.462" rx="3.652" ry="3.538"/><path d="M6.592 13.25l7.602 4.585"/><path d="M6.719 9.917l7.657-4.452"/></g></svg>')
              center/auto no-repeat;
            transition: all 0.2s ease;
          }

          .toggle-button--active:after {
            background-image: url('data:image/svg+xml;charset=US-ASCII,<svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><g fill="#fff"><path d="M1.516.102l18.382 18.382-1.414 1.414-18.382-18.382zM19.898 1.516l-18.382 18.382-1.414-1.414 18.382-18.382z"/></g></svg>');
          }

          .social-link {
            visibility: hidden;

            transition: all 0.1s ease;
          }
          .social-link:nth-child(1) {
            left: -132px;
          }
          .social-link:nth-child(2) {
            left: -66px;
          }
          .social-link:nth-child(3) {
          }

          .share__wrapper--open-left .social-link {
            animation: 0.1s right forwards;
            opacity: 0;
            will-change: animation;
          }
          .share__wrapper--open-left .social-link:nth-child(1) {
            left: 150px;
          }
          .share__wrapper--open-left .social-link:nth-child(2) {
            left: 110px;
          }
          .share__wrapper--open-left .social-link:nth-child(3) {
            left: 70px;
          }

          .share__wrapper--active .social-link {
            visibility: visible;
            animation: 0.1s left forwards;
          }
          .share__wrapper--active .social-link:nth-child(1) {
            animation-delay: 0.075s;
          }
          .share__wrapper--active .social-link:nth-child(2) {
            animation-delay: 0.05s;
          }

          @keyframes shareClose {
            0% {
              opacity: 0;
              transform: rotateY(0);
            }
            100% {
              opacity: 1;
              transform: rotateY(360deg);
            }
          }
          @keyframes left {
            50% {
              transform: translateX(-170%);
            }
            100% {
              opacity: 1;
              transform: translateX(-130%);
            }
          }
          @keyframes right {
            0% {
              transform: translateX(-130%);
            }
            50% {
              opacity: 1;
            }
            100% {
              opacity: 0;
              transform: translateX(0);
              left: 0;
            }
          }

          .visually-hidden {
            position: absolute;
            left: 9999px;
            width: 1px;
            height: 1px;
          }

          ul,
          li {
            list-style-type: none;
            padding: 0;
            margin: 0;
          }

          button {
            border: none;
            margin: 0;
            padding: 0;
            width: auto;
            overflow: visible;
            background: transparent;
            /* inherit font & color from ancestor */
            color: inherit;
            font: inherit;
            /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
            line-height: normal;
            /* Corrects font smoothing for webkit */
            -webkit-font-smoothing: inherit;
            -moz-osx-font-smoothing: inherit;
            /* Corrects inability to style clickable `input` types in iOS */
            -webkit-appearance: none;
          }
        }
        .breadCrumb {
          margin-bottom: 16px;
          ul {
            display: flex;
            align-items: center;
            column-gap: 4px;
            li {
              a {
                font-family: IRANYekan;
                font-size: 10px;
                font-weight: 300;
                line-height: 17.27px;
                text-align: right;
                color: black;
              }
              span {
                font-family: IRANYekan;
                font-size: 10px;
                font-weight: 300;
                line-height: 17.27px;
                text-align: right;
                color: #00000080;
              }
              i {
                font-family: IRANYekan;
                font-size: 10px;
                font-weight: 300;
                color: #d30e15;
              }
            }
          }
        }
        .title {
          position: relative;
          display: flex;
          justify-content: space-between;
          padding-bottom: 24px;
          margin-bottom: 24px;
          align-items: center;
          border-bottom: 1px solid #00000033;
          h1 {
            //styleName: 24/ex b;
            font-family: IRANYekan;
            font-size: 24px;
            font-weight: 800;
            line-height: 41.45px;
            text-align: right;
          }
        }
        .list {
          .para {
            margin-bottom: 24px;
            p {
              display: block;
              //styleName: 12/L;
              font-family: IRANYekan;
              font-size: 12px;
              font-weight: 300;
              line-height: 20.73px;
              text-align: right;
              color: $gray;
            }
          }
          .paraS {
            margin-bottom: 24px;
            p {
              display: block;
              //styleName: 12/L;
              font-family: IRANYekan;
              font-size: 12px;
              font-weight: 300;
              line-height: 20.73px;
              text-align: right;
              color: $gray;
            }
          }
        }
      }
    }
  }
  .tabSection {
    padding: 0 80px;
    margin: 80px 0 120px;
    .nav-tabs {
      border: none;
      // padding-bottom: 8px;
      border-bottom: 1px solid #00000033;
    }
    .nav {
      padding: 0 40px;
      .nav-item {
        a {
          font-family: IRANYekan;
          font-size: 12px;
          font-weight: 400;
          line-height: 20.73px;
          text-align: right;
          color: black;
          border: none;
          transition: 0.5s ease;
          padding: 8px 16.8px;
        }
        .nav-link.active {
          font-family: IRANYekan;
          font-size: 14px;
          font-weight: 700;
          line-height: 24.18px;
          text-align: right;
          color: $primary;
          border-bottom: 2px solid $primary;
        }
      }
    }
    .tab-content {
      margin-top: 40px;
      border-bottom: 1px solid $gray;
      padding: 20px 40px;
      h2 {
        //styleName: 24/r;
        font-family: IRANYekan;
        font-size: 24px;
        font-weight: 400;
        line-height: 41.45px;
        text-align: right;
        margin-bottom: 17px;
      }

      .section3 {
        .para {
          p {
            font-family: IRANYekan;
            font-size: 14px;
            font-weight: 300;
            line-height: 24.18px;
            text-align: right;
          }
        }
        .aboutPara {
          overflow: hidden;
        }
        button {
          background-color: transparent;
          border: none;
          cursor: pointer;
          margin-top: 20px;
          //styleName: 12/L;
          font-family: IRANYekan;
          font-size: 12px;
          font-weight: 300;
          line-height: 20.73px;
          text-align: right;
          color: $gray;
        }
      }
      .section4 {
        .infoContainer {
          display: flex;
          justify-content: space-between;
          column-gap: 99px;
          .listSide {
            width: 16.8125vw;
            ul {
              width: 100%;
              li {
                display: flex;
                justify-content: space-between;
                width: 100%;
                padding: 2px 0;
                margin-bottom: 12px;
                border-bottom: 0.5px solid $primary;
                p {
                  font-family: Estedad;
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 28.13px;
                  text-align: right;
                  color: #00000099;
                }
                span{
                  //styleName: fa/16-reg;
font-family: Estedad;
font-size: 16px;
font-weight: 400;
line-height: 28.13px;
text-align: left;

                }
              }
            }
          }
          .imgS {
            img {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
