$color-1:#000000;
$color-2:#949494;
$color-3:#fff;
$color-primary:#D30E15;
main.Home{
    width: 100%;
    overflow: hidden;
    .Banner-Container{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        .Banner-Slider{
            width: 100%;
            height: inherit;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .swiper-Banner{
            width: 100%;
            height: inherit;
            display: flex;
            justify-content: center;
            .swiper-wrapper{
                width: 100%;
                max-width: 100%;
                height: inherit;
                >.swiper-slide{
                    width: 100%;
                    display: flex;
                    height: inherit;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    &-active{
                        h1,p{
                            transition: all .8s ease;
                            -webkit-transform: translateY(0)  !important ;
                            -moz-transform: translateY(0)  !important ;
                            -ms-transform: translateY(0)  !important ;
                            -o-transform: translateY(0)  !important ;
                            -webkit-transition: all .8s ease;
                            -moz-transition: all .8s ease;
                            -ms-transition: all .8s ease;
                            -o-transition: all .8s ease;
                            transform: translateY(0)  !important ;
                            opacity: 1  !important;
}
                    }
                }
                .IMG{
                    width: 100%;
                    height: inherit;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    >img{
                        transition: all .9s ;
                        transform: translateX(-100px);
                        height: inherit;
                        width: 100%;
                        object-fit: cover;
                        opacity: 0;
                        -webkit-transition: all .9s ;
                        -moz-transition: all .9s ;
                        -ms-transition: all .9s ;
                        -o-transition: all .9s ;
}
                }
                .OV{
                    position: absolute;
                    right: 0;
                    top: 0;
                    z-index: 2;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: flex-end;
                    gap: .5em;
                    >.Title{
                        width: 96%;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        margin-right: auto;
                        overflow: hidden;
                        h1{
                            transition: all .8s .5s ease;
                            -webkit-transform: translateY(100px);
                            -moz-transform: translateY(100px);
                            -ms-transform: translateY(100px);
                            -o-transform: translateY(100px);
                            -webkit-transition: all .8s .5s ease;
                            -moz-transition: all .8s .5s ease;
                            -ms-transition: all .8s .5s ease;
                            -o-transition: all .8s .5s ease;
                            transform: translateY(100px);
                            opacity: 0;
                            font-size: 24px;
                            font-weight: 400;
                            color:$color-3;
                            line-height: 41.45px;
}
                    }
                    .Desc{
                        margin-right: auto;
                        width: 96%;
                        display: flex;
                        justify-content:center;
                        align-items:flex-start;
                        flex-direction: column;
                        overflow: hidden;
                        p{
                            transition: all .8s .5s ease;
                            -webkit-transform: translateY(100px);
                            -moz-transform: translateY(100px);
                            -ms-transform: translateY(100px);
                            -o-transform: translateY(100px);
                            -webkit-transition: all .8s .5s ease;
                            -moz-transition: all .8s .5s ease;
                            -ms-transition: all .8s .5s ease;
                            -o-transition: all .8s .5s ease;
                            transform: translateY(100px);
                            font-size: 18px;
                            font-weight: 400;
                            color:$color-3;
                            line-height: 31.09px;
                            opacity: 0;
}
                    }
                 
                }
            }
            .ShowMBTN{
                margin-right: 4em;
                margin-left: auto;
                margin-bottom: 5em;
            }
        }
    }
    .ProductCategories{
        width: 100%;
        margin-top: 5em;
        display: flex;
        flex-direction: column;
        .Title-1{
            margin-bottom: 2em;
        }
        .Product-Category,
        .Product-Slider,
        .swiper-Category,
        .swiper-wrapper{
            width: 100%;
            display: flex;
            .swiper-slide{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    .About-Clr{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: 512px;
      position: relative;
      &::before{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: #94949477;
        z-index: 0;
      }
      .Left{
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        .PopUp{
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            transition: all 800ms ease 0s;
            background-color:transparent;
            display: flex;
            flex-direction: column;
            opacity: 0;
            z-index: 99999;
            justify-content: center;
            align-items: center;
            gap: 5vh;
            pointer-events: none;
         
            .Close
{
            width: 45px;
            height: 45px;
            display: flex;
            flex-direction: column;
            margin-left: auto;
            gap: 0.3vh;
            justify-content: center;
            align-items: center;

            position: absolute;
            right:10vh;
            top: 10vh;
            border: 1px solid $color-3;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            svg{
                width: 15px;
            }
        
            }
            video{
                width: 70vw;
                height: auto;
                object-fit: contain;
                opacity: 0;
                transform: translateY(30%);
                -webkit-transform: translateY(30%);
                -moz-transform: translateY(30%);
                -ms-transform: translateY(30%);
                -o-transform: translateY(30%);
                transition: all 800ms ease .5s;
                -webkit-transition: all 800ms ease .5s;
                -moz-transition: all 800ms ease .5s;
                -ms-transition: all 800ms ease .5s;
                -o-transition: all 800ms ease .5s;
                &.show
{
                    transition: all 800ms ease .5s;
                    opacity: 1;
                    transform: unset;
                    -webkit-transform: unset;
                    -moz-transform: unset;
                    -ms-transform: unset;
                    -o-transform: unset;
                    -webkit-transition: all 800ms ease .5s;
                    -moz-transition: all 800ms ease .5s;
                    -ms-transition: all 800ms ease .5s;
                    -o-transition: all 800ms ease .5s;
}
}
            &.Open{
                transition: all 800ms ease 0s;
               opacity: 1;
               pointer-events: fill;
                background-color: rgba(0, 0, 0, 0.584);
              
                -webkit-transition: all 800ms ease 0s;
                -moz-transition: all 800ms ease 0s;
                -ms-transition: all 800ms ease 0s;
                -o-transition: all 800ms ease 0s;
}
        }
        .Video-C{
            width: 91%;
            display: flex;
            justify-content: flex-end;
            align-content: center;
            place-items: center;
            margin-left: auto;
        }
        .Video{
            width: 526px;
            height: 310px;
            position: relative;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-content: center;
            >video{
                width: 100%;
                height: 100%;
                object-fit: cover
                ;
            }
            .Video-Overlay{
             position: absolute;
             left: 0;
             top: 0;
             width: 100%;
             height: 100%;
             z-index: 3;
             display: flex;
             justify-content: center;
             align-content: center;
             .w-circle{
                position: relative;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                display: flex;
                justify-content: center;
                align-content: center;
                border: 1px solid $color-2;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                &:hover{
                 cursor: pointer;
                }
                .Cricle{
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    width: 100%;
                    place-content: center;
                    place-items: center;
                }
                &::before{
                    content: '';
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    position: absolute;
                    width: 100%;
                    height: 50%;
                    border-top-left-radius: 90px;
                    border-top-right-radius: 90px;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    z-index: 4;
                    border-top: 1px solid $color-3;
                    border-left: 1px solid $color-3;
                    border-right: 1px solid $color-3;
                    transform: rotate(196deg) translateX(8px);
                    bottom: 0;

                }
}
            }
        }
      }
      .Right{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
         z-index: 5;
        .Box{
            width: 91%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            margin-right: auto;
           >.Title{
            width: 100%;
            margin-bottom: 2.5em;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            h3{
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                span{
                    font-size: 24px;
                    font-weight: 500;
                    line-height: 41.45px;
                    color: $color-3;
                    &.color{
                        font-size: 24px;
                        font-weight: 900;
                        line-height: 41.45px;
                        color: $color-primary;
                    }
                }
            }
           }
           >.Text{
            width: 70%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin-bottom: 2.5em;
            margin-left: auto;
           p{
            font-size:16px;
            font-weight: 300;
            line-height:27.64px;
            color: $color-3;
            text-align: right;
           }
           }
           .ShowMoreBTN-2{
            width: auto;
            display: flex;
            justify-content:flex-start;
            align-items:center;
            margin-left: auto;
            border: 1px solid $color-primary;
            border-radius: 30px;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            -ms-border-radius: 30px;
            -o-border-radius: 30px;
            padding: .5em 2em;
            position: relative;
            transition: all .5s ease;
            -webkit-transition: all .5s ease;
            -moz-transition: all .5s ease;
            -ms-transition: all .5s ease;
            -o-transition: all .5s ease;
            &:hover{
                &::before{
                    width: 100%;
                    opacity: 1;
                }
            }
            &::before{
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                opacity: 0;
                height: 100%;
                border-radius: 30px;
                -webkit-border-radius: 30px;
                -moz-border-radius: 30px;
                -ms-border-radius: 30px;
                -o-border-radius: 30px;
                background-color: $color-primary;
                z-index: 0;
                transition: all .5s ease;
                -webkit-transition: all .5s ease;
                -moz-transition: all .5s ease;
                -ms-transition: all .5s ease;
                -o-transition: all .5s ease;
}
            a {
                position: relative;
                 z-index: 1;
                width: 100%;
                display: flex;
                justify-content:flex-start;
                align-items:center;
                gap: .8em;    
                span{
                    font-size: 12px;
                    font-weight: 300;
                    color:$color-3;
                    line-height: 20.73px;
                }
            }
           }
        }
      }

    }
}
.Product{
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid $color-2;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    >.IMG
{
        width: 100%;
        height: 443px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        a{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            >img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
       
    }
    >.Box{  
        width: 100%;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        padding:.8em 0;
       .Title{
        width: 95%;
        margin-right: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        a{
            width: auto;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: .5em;
            span{
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 18px;
                font-weight: 400;
                line-height: 31.09px;
                color: $color-1;
            }
        }
       }
    }
}